@charset "UTF-8";

nav{
	background-color: orange;
	height: 40px;
}

a:hover{
	background-color:black;
	text-decoration: none;
}
#img1 {
	width: 100%;
}
.constent{
	width:100%;
}

.div1_3{
	background-color:#B1520F;
	height: 200px;
	text-align: center;
	
}
.div1_3 samp{
	font-size :60px;
}
#div2{
	background-color: #CF6317;
	text-align: center;
}

