@charset "UTF-8";

header{
		height : 80px;
}

.content{
		margin:10px;	
}
.border{
		margin:10px;	
	   	border-radius: 10px;
	   	height : 120px;
}
footer{
	margin:20px;
}

.imgStar{
	width: 15px;
	height : 15px;
}
.labelMenu{
	font-size:12px;
	background-color:#d3d3d3;
}
.content-box{
	padding: 15px;
}